@using StuffApp.Models.Data
@using System.Linq;
@model PaginatedList<StuffApp.Models.Data.PostWithStatus>
@{
    ViewData["Title"] = "Модерация объявлений";
}
@* PaginatedList<StuffApp.Models.Data.PostWithStatus> *@
@* <strong>@ViewData["test"]</strong> *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Посты</li>
    </ol>
</nav>

<h1>Посты</h1>

@* @if (User.Identity.IsAuthenticated)
{
    <h6>
        <a class="btn text-dark" asp-action="Create">
            <i class="far fa-plus-square"></i> Создать пост
        </a>
    </h6>
} *@
<form asp-action="Index" method="get" class="mb-3">
    <div class="d-flex gap-3 align-items-center form-actions no-color mb-3">
        <label for="SearchString">Поиск по заголовку:</label>
        <input type="text" id="SearchString" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Название объявления" class="form-control mw-300" />
        @* <input type="submit" value="Поиск" class="btn btn-primary" /> *@
    </div>
    @* </form>
    <form asp-controller="Posts" asp-action="Index" method="get" class="mb-3"> *@
    <div class="mb-3">
        <label for="categoryId">Фильтрация по категориям:</label>
        <select class="form-select mw-300" name="categoryId" id="categoryId" onchange="submitForm(form)">
            <option value="">Все категории</option>
            @* @foreach (var category in ViewBag.Categories as List<Category>)
            {
            // <option value="@category.Id" @(Model.CurrentFilter == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
            // <option value="@category.Id" selected="@((Model.CurrentFilter == category.Id.ToString()) ? "selected" : null)">@category.CategoryName</option>
            // <option value="@category.Id" @(ViewData["CategoryId"]?.ToString() == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
            } *@
            @if (ViewBag.Categories != null)
            {
                foreach (var category in ViewBag.Categories as List<StuffApp.Models.Data.Category>)
                {
                    <option value="@category.Id" selected="@(ViewData["CategoryId"]?.ToString() == category.Id.ToString() ? "selected" : null)">@category.CategoryName</option>
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="d-bloc" for="sortOrder">Сортировка:</label>
        <select class="form-select mw-300" name="sortOrder" id="sortOrder" onchange="submitForm(form)">
            @* <option value="">Стандартная сортировка</option> *@
            @* @foreach (var category in ViewBag.Categories as List<Category>)
            {
            // <option value="@category.Id" @(Model.CurrentFilter == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
            // <option value="@category.Id" selected="@((Model.CurrentFilter == category.Id.ToString()) ? "selected" : null)">@category.CategoryName</option>
            // <option value="@category.Id" @(ViewData["CategoryId"]?.ToString() == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
            } *@
            @if (ViewBag.OrderBy != null)
            {
                var orderByList = (SelectList)ViewBag.OrderBy;
                foreach (var item in orderByList)
                {
                    <option value="@item.Value" selected="@(ViewData["sortOrder"]?.ToString() == item.Value?.ToString() ? "selected" : null)">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="d-bloc" for="statusId">Статус объявления:</label>
        <select class="form-select mw-300" name="statusId" id="statusId" onchange="submitForm(form)">
            @if (ViewBag.OrderBy != null)
            {
                var status = (SelectList)ViewBag.StatusesList;
                foreach (var item in status)
                {
                    <option value="@item.Value" selected="@(ViewData["StatusId"]?.ToString() == item.Value?.ToString() ? "selected" : null)">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="d-flex align-items-center gap-3">
        <button class="btn btn-primary" type="submit">Применить</button>
        <a title="Очистить фильтрацию" asp-action="Index"><i class="text-dark icon-search-posts fa-solid fa-xmark"></i></a>
    </div>
</form>

<div class="posts row mb-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="card text-center">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Post.Category.CategoryName)
                </div>
                <div class="card-body p-0">
                    <a asp-action="Details" asp-route-id="@item.Post.Id" class="card-img-wrapper">
                        <img class="card-img-img" src="@Html.DisplayFor(modelItem => item.Post.ImgUrl)">
                    </a>
                    @* <h5 class="card-title">@Html.DisplayFor(modelItem => item.Post.Title)</h5> *@
                    @* <p class="card-text">@(item.Post.Price > 0 ? item.Post.Price + " ₽" : "Бесплатно")</p> *@
                    @* <p class="card-text">@Html.DisplayFor(modelItem => item.Post.Descr)</p> *@
                    @* <a href="#" class="btn btn-primary">Перейти к товару</a> *@
                </div>

                <div class="card-footer">
                    <h5 class="card-title mb-1">@Html.DisplayFor(modelItem => item.Post.Title)</h5>
                    <p class="card-text mb-1">@(item.Post.Price > 0 ? item.Post.Price + " ₽" : "Бесплатно")</p>
                    <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.EditDate)</p>
                </div>
            </div>
        </div>
    }
</div>




<div class="pagination d-flex justify-content-center align-items-center gap-2">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var hasPrev = Model.HasPreviousPage ? true : false;
        var hasNext = Model.HasNextPage ? true : false;
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    @* <a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
    Предыдущая
    </a> *@
    @* <span>@ViewData["PageNumber"]</span> *@
    <span class="text-dark">@Model.PageIndex</span>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <i class="fa-solid fa-arrow-right"></i>
    </a>
    @* <a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Следующая
    </a> *@
</div>


<script>
    function submitForm(form) {
        form.submit();
    }
</script>

