@using StuffApp.Models.Data
@model PaginatedList<StuffApp.Models.Data.PostWithStatus>
@{
    ViewData["Title"] = "Объявления";
}
@* PaginatedList<StuffApp.Models.Data.PostWithStatus> *@
@* <strong>@ViewData["test"]</strong> *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Посты</li>
    </ol>
</nav>

<h1>Посты</h1>

<h6>
    <a class="btn text-dark" asp-action="Create">
        <i class="far fa-plus-square"></i> Создать пост
    </a>
</h6>
<form asp-action="Index" method="get" class="mb-3">
    <div class="d-flex gap-3 align-items-center form-actions no-color">
        Поиск по заголовку: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Поиск" class="btn btn-primary" />
        <a asp-action="Index"><i class="text-dark icon-search-posts fa-solid fa-xmark"></i></a>
    </div>
</form>
<form asp-controller="Posts" asp-action="Index" method="get" class="mb-3">
    <label for="categoryId">Фильтрация по категориям:</label>
    <select name="categoryId" id="categoryId">
        <option value="">Все категории</option>
        @* @foreach (var category in ViewBag.Categories as List<Category>)
        {
        // <option value="@category.Id" @(Model.CurrentFilter == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
        // <option value="@category.Id" selected="@((Model.CurrentFilter == category.Id.ToString()) ? "selected" : null)">@category.CategoryName</option>
        // <option value="@category.Id" @(ViewData["CategoryId"]?.ToString() == category.Id.ToString() ? "selected" : "")>@category.CategoryName</option>
        } *@
        @if (ViewBag.Categories != null)
        {
            foreach (var category in ViewBag.Categories as List<StuffApp.Models.Data.Category>)
            {
                <option value="@category.Id" selected="@(ViewData["CategoryId"]?.ToString() == category.Id.ToString() ? "selected" : null)">@category.CategoryName</option>
            }
        }
    </select>
    <button class="btn btn-primary" type="submit">ОК</button>
</form>

<div class="posts row mb-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="card text-center">
            <div class="card-header">
                @Html.DisplayFor(modelItem => item.Post.Category.CategoryName)
                </div>
                <div class="card-body p-0">
                    <div class="card-img-wrapper">
                        <img class="card-img-img" src="@Html.DisplayFor(modelItem => item.Post.ImgUrl)">
                    </div>
                    @* <h5 class="card-title">@Html.DisplayFor(modelItem => item.Post.Title)</h5> *@
                    @* <p class="card-text">@(item.Post.Price > 0 ? item.Post.Price + " ₽" : "Бесплатно")</p> *@
                @* <p class="card-text">@Html.DisplayFor(modelItem => item.Post.Descr)</p> *@
                @* <a href="#" class="btn btn-primary">Перейти к товару</a> *@
                </div>

                <div class="card-footer">
                    <h5 class="card-title mb-1">@Html.DisplayFor(modelItem => item.Post.Title)</h5>
                    <p class="card-text mb-1">@(item.Post.Price > 0 ? item.Post.Price + " ₽" : "Бесплатно")</p>
                    <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.EditDate)</p>
                </div>
            </div>
        </div>
    }
</div>




<div class="pagination d-flex justify-content-center align-items-center gap-2">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var hasPrev = Model.HasPreviousPage ? true : false;
        var hasNext = Model.HasNextPage ? true : false;
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    @* <a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
    Предыдущая
    </a> *@
    @* <span>@ViewData["PageNumber"]</span> *@
    <span class="text-dark">@Model.PageIndex</span>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <i class="fa-solid fa-arrow-right"></i>
    </a>
    @* <a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Следующая
    </a> *@
</div>




